<!doctype html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Quên Mât Khẩu</title>
  <meta name="description" content="Reset Password Email Template.">
  <style type="text/css">
    .submit-btn {
      appearance: button;
      background-image: none;
      background-color: rgba(99, 90, 255, 1);
      border: 1px solid #757070;
      box-sizing: border-box;
      font-weight: bolder;
      cursor: pointer;
      display: inline-block;
      color: #5d5050;
      margin: 2rem;
      overflow: visible;
      padding: 12px 40px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      text-decoration: none;
      font-weight: 500;
      margin-top: 35px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      padding: 10px 24px;
      display: inline-block;
      border-radius: 50px
    }
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
  <!--100% body table-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
    style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tr>
      <td>
        <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
          align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td style="height:80px;">&nbsp;</td>
          </tr>
          <tr>
            <td style="height:20px;">&nbsp;</td>
          </tr>
          <tr>
            <td>
              <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                <tr>
                  <td style="height:40px;">&nbsp;</td>
                </tr>
                <tr>
                  <td style="padding:0 35px;">
                    <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
                      Bạn Có Yêu Cầu Reset Mật Khẩu</h1>
                    <span
                      style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                    <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                      <img style="max-width: 100%;"
                        src="https://tlr.stripocdn.email/content/guids/CABINET_7eaca9f07ed40c6120e36893d625becf/images/74941620307889660.png"
                        alt="">
                      Yêu cầu này có thời hạn 24h. Để đặt lại mật khẩu, hãy nhấp vào liên kết sau và làm theo hướng dẫn.
                    </p>
                    <a href={{redirectUrl}} class="submit-btn">Reset Password</a>
                    <p class="card-text" style="text-align: left;"><b style="color: #555; font-weight: bolder;">Thank
                        you,</b>
                    </p>
                    <p class="card-text" style="text-align: left;"><b style="color: #555; font-weight: bolder;">The
                        Sponsor
                        team</b></p>
                  </td>
                </tr>
                <tr>
                  <td style="height:40px;">&nbsp;</td>
                </tr>
              </table>
            </td>
          <tr>
            <td style="height:20px;">&nbsp;</td>
          </tr>
          <tr>
            <td style="text-align:center;">
              <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                &copy; <strong>The Sponsor</strong></p>
            </td>
          </tr>
          <tr>
            <td style="height:80px;">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!--/100% body table-->
</body>

</html>